@page "/Delete/Articulos/{articulosId:int}"
@page "/Delete/Articulos"
@inject NavigationManager navigation
@inject HttpClient httpClient

<PageTitle>Eliminar art&iacute;culo</PageTitle>
<EditForm Model="articulos" OnValidSubmit="EliminarArticulo">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header bg-secondary text-white">
                <h4><strong>Eliminar art&iacute;culo</strong></h4>
            </div>
            <div class="card-body">
                <h6><strong>¿&Eacute;stas seguro de que quieres eliminar este art&iacute;culo?</strong></h6>
                <div class="mb-1">
                    <p class="mb-0">Art&iacute;culoId: @articulos.ArticuloId</p>
                </div>
                <div class="mb-1">
                    <p class="mb-0">Descripci&oacute;n: @articulos.Descripcion</p>
                </div>
                <div class="mb-1">
                    <p class="mb-0">Costo: @articulos.Costo</p>
                </div>
                <div class="mb-1">
                    <p class="mb-0">Ganancia: @articulos.Ganancia</p>
                </div>
                <div class="mb-1">
                    <p class="mb-0">Precio: @articulos.Precio</p>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary bi bi-arrow-90deg-left" @onclick="Volver"> Volver</button>
                <button type="button" class="btn btn-danger bi bi-trash-fill" @onclick="EliminarArticulo"> Eliminar</button>
            </div>
        </div>
        @Mensaje
    </div>
</EditForm>

@code {
    [Parameter]
    public int articulosId { get; set; }
    public Articulos articulos { get; set; } = new Articulos();
    public string Mensaje { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (articulosId > 0)
        {
            articulos = await httpClient.GetFromJsonAsync<Articulos>($"api/Articulos/{articulosId}");
        }
    }

    public async Task EliminarArticulo()
    {
        var response = await httpClient.DeleteAsync($"api/Articulos/{articulos.ArticuloId}");
        if (response.IsSuccessStatusCode)
        {
            Mensaje = "El artículo se ha eliminado correctamente.";
            Volver();
        }
        else
        {
            Mensaje = "El artículo no se pudo eliminar.";
        }
    }

    public void Volver()
    {
        navigation.NavigateTo("/Index/Articulos");
    }
}
